@use '~@components/design_system/design_system.module.scss' as ds;

.primaryBlade1 {
    background-color: ds.$color-accent;
}

.primaryBlade2 {
    background-color: ds.$color-black;
}

.primaryBlade2Text {
    color: ds.$color-white;
    padding: calc(4 * ds.$measurement-baseline-grid);
}
