$measurement-baseline-grid: 8px;
$breakpoint-mobile: 600px;
$color-white: #ffffff;
$color-black: #000000;

:export {
    measurementBaselineGrid: $measurement-baseline-grid;
    breakpointMobile: $breakpoint-mobile;
    colorWhite: $color-white;
    colorBlack: $color-black;
}
